---
import { site } from '@config/site';

interface Props {
  src?: string;
  alt?: string;
  align?: 'left' | 'right';
  circular?: boolean;
}

const {
  src = site.author.avatar,
  alt = site.author.name,
  align = 'right',
  circular = false,
} = Astro.props;

const imgClass = circular
  ? 'img-fluid z-depth-1 rounded-circle'
  : 'img-fluid z-depth-1 rounded';
---

<div class={`profile float-${align}`}>
  <img
    src={src}
    alt={alt}
    loading="eager"
    class={imgClass}
    onerror="this.src='/assets/img/prof_pic.jpg'"
  />
  {
    site.author.moreInfo && (
      <div class="more-info" set:html={site.author.moreInfo} />
    )
  }
</div>
